.harp/overrides.yaml

docker-compose.override.yml

packages/public-api/config/*
!packages/public-api/config/00-default.yaml
!packages/public-api/config/10-local.yaml.example
!packages/public-api/config/batch
!packages/public-api/config/api/10-api-defaults.yaml
packages/public-api/config/batch/**/*-mfa.yaml
!packages/public-api/config/migrations
packages/public-api/config/migrations/**/mfa.yaml

packages/admin-api/config/*
!packages/admin-api/config/00-default.yaml
!packages/admin-api/config/10-local.yaml.example

browserslist

/build
packages/public-ui/build
!packages/public-ui/build/.gitkeep

node_modules
.nyc_output

*.log

.idea/
*.iml

temp/
